@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

/* Custom dark scrollbar */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: #051c15;
}

::-webkit-scrollbar-thumb {
  background: #0f4633;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #10b981;
}